{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/index.css",
  "tailwindAttributes": ["myClassList"],
  "tailwindFunctions": ["clsx", "tw"],
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": true
}
